* {
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono";
}

html,body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

p {
    opacity: 0.7;
    font-size: 14px;
}

.a-normal {
    text-decoration: none;
    color: black;
}

#section1 {
    height: 100px;
    width: auto;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section1>h2 {
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    font-weight: 800;
    letter-spacing: 0%;
}

#section1>button {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
    padding: 10px;  
}

#section1>button>a {
    color: black;
}

/* main header design  */
#section-main {
    background-image: url(assets/Hero-bg.png);
    height: 800px;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

section#section-sub {
    display: inline-block;
    position: absolute;
    width: 990px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



#section-sub>h2 {
    margin-top: 40px;
    font-size: 50px;
    color: rgb(13, 19, 33);
    font-weight: 800;
    line-height: 68px;
    text-align: center;
}

#section-sub>p {
    margin-top: 30px;
    text-align: center;
    opacity: 0.7;
    font-size: 14px;
} 

#section-sub>button {
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 5px;
    background-color: rgb(0, 0, 33);
    border: none;
    padding: 10px 25px;  
    line-height: 25px;
}


#section-sub>button>a {
    color: rgb(255, 255, 255); ;
}

/* why web dev section style  */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-for-why-wd {
    height: 800px;
    width: 100%;
    justify-content: center;
    position: absolute;
    width: 82%;
    height: auto;
    top: 900px;
    padding: 80px 97px 80px 97px;
    border-radius: 20px;
    background: rgba(13, 19, 33, 0.02);
}

.title-for-why-wd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.title-for-why-wd>p {
    text-align: center;
    margin-top: 30px;
    opacity: 0.7;
    font-size: 14px;
}

section>button {
    padding: 12px 20px 12px 20px;
    border-radius: 0;
    border: 1px solid rgb(13, 19, 33);
    background-color: white;
}

.textsection {
    width: 477px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    flex-grow: 0;
    margin: 50px 0px;
}

.textsection>h2 {
    margin-top: 30px;
}

.textsection>button {
    margin-top: 40px;
}

.textsection>p {
    margin-top: 30px;
    opacity: 0.7;
    font-size: 14px;
}

#section-one {
    margin-top: 30px;
    justify-content: space-around;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    padding: 50px;
}

#section-two {
    margin-top: 30px;
    justify-content: space-around;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    padding: 50px;
    text-align: left;
}

#section-three {
    margin-top: 30px;
    justify-content: space-around;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    padding: 50px;
}

.inspiration {
    position: absolute;
    width: 1140px;
    height: 775px;
    top: 2340px;
    bottom: 2130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

#video-sec {
    margin-top: 80px;
    padding: 20px;
    border: solid 1px rgba(0, 0, 0, 0.308);
    border-radius: 15px;
}

#video-sec>iframe {
    border-radius: 10px;
    height: 619px;
    width: 1100px;
}

#mycurrent-targate {
    position: absolute;
    width: 1140px;
    height: 150px;
    top: 3240px;
    bottom: 2130px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    text-align: center;
}

#mycurrent-targate>h2 {
    margin-bottom: 30px;
}

#mycurrent-targate>p {
    opacity: 0.7;
    font-size: 14px;
}

#technology {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1140px;
    height: 150px;
    top: 3440px;
    bottom: 2130px;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 60px;
}

.tech {
    margin: 20px;
    width: 250px;
}

.html {
    padding: 50px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.css {
    padding: 50px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.js {
    border-radius: 16px;
    background: rgba(255, 221, 0, 0.082);
    padding: 50px;
}


.tech-items {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.abtn {
    border: none;
    color: black;
}

.support {
    width: 940px;
    height: 113px;
    top: 3752px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
    background-image: url(assets/handshake.jpg);
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.support>h2 {
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

}

.support>p {
    margin-top: 20px;
    color: white;
    margin-bottom: 50px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}



.feedback {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    justify-content: space-between;
    align-items: center;
}

#feedback {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
    padding: 16px;
    width: 540px;

}
  
.feedback label {
    font-size: 13px;
    margin-bottom: 10px;
}

.feedback button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    padding: 16px;
    margin-left: 20px;
    font-weight: 700;
}

.footer {
    position: absolute;
    height: 100px;
    right: 0;
    left: 0;
    top: 4145px;
    display: flex;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 10px 150px;
    text-align: center;
}
#soci-icon>a {
    margin-left: 10px;
}
  

  



